loguru==0.7.2
langchain==0.2.10
langserve[all]==0.2.2
langchain-community==0.2.10
python-dotenv==1.0.1
cython==3.0.10

langchain-openai==0.1.19
httpx-sse==0.4.0
pyjwt==2.8.0

langsmith==0.1.93
langchain-experimental==0.0.63
langchainhub==0.1.21